ATTRS{idVendor}=="2933",ATTRS{idProduct}=="f541",MODE="0666"
ATTRS{idVendor}=="2933",ATTRS{idProduct}=="f590",MODE="0666"
ATTRS{idVendor}=="2933",ATTRS{idProduct}=="f591",MODE="0666"
ATTRS{idVendor}=="2933",ATTRS{idProduct}=="f592",MODE="0666"
ATTRS{idVendor}=="2933",ATTRS{idProduct}=="f593",MODE="0666"

