ATTRS{device}=="0xa123", GROUP="users", MODE="0660"
KERNEL=="hidraw*", ATTRS{idVendor}=="2c42", ATTRS{idProduct}=="5114", GROUP="users", MODE="0660"

